@import "../constants"

.calendarContainer
  padding: 2rem
  display: flex
  gap: 1rem

  .widgets
    .calendarWidget
      padding: 1.5rem
      border-radius: 1rem
      background-color: #fff
      width: 300px
      user-select: none

      .header
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
        cursor: default
        margin-bottom: .5rem

        .date
          font-size: 1rem
          font-weight: 700
          color: $accentColor

        .controls
          display: flex
          align-items: center
          gap: .25rem
          position: absolute
          right: -.5rem

          .control
            cursor: pointer
            width: 2rem
            height: 2rem
            border-radius: .5rem
            background-color: transparent
            border: none
            display: flex
            justify-content: center
            align-items: center
            transition: background-color .15s ease-out

            &:hover,
            &:focus-visible
              background-color: transparentize($accentColor, .9)

            svg
              width: 1rem
              height: 1rem

              *
                stroke: $accentColor

      .days
        ul
          list-style-type: none
          display: flex
          justify-content: space-between
          flex-wrap: wrap
          gap: 4px

          li
            display: flex
            justify-content: center
            align-items: center
            width: 2rem
            height: 2rem
            cursor: default

        .indicatorRow
          font-size: .8rem
          font-weight: 500
          color: #adadad

          ul li
            height: 1.5rem

        .daysRow
          ul li
            font-size: .9rem
            font-weight: 500
            cursor: pointer
            color: #6e6e6e
            background-color: transparent
            border-radius: .5rem
            border: 2px solid transparent
            transition: .15s ease-out
            transition-property: background-color, color, border-color

            &:hover:not(.inactive)
              color: $accentColor
              background-color: transparentize($accentColor, .9)

            &.today
              color: $accentColor

            &.active
              color: $accentColor
              border-color: $accentColor

            &.inactive
              opacity: .6
              cursor: default

    .categories
      padding: 1.5rem
      border-radius: 1rem
      background-color: #fff
      margin-top: 1rem
      cursor: default

      h2
        font-size: 1.5rem
        font-weight: 600
        color: $accentColor

      ul
        margin-top: .5rem
        list-style-type: none
        max-height: 200px
        overflow-x: auto
        padding: .25rem

        &::-webkit-scrollbar
          width: 4px

        &::-webkit-scrollbar-thumb
          border: none
          background-color: #d7d7d7

  .calendarSection
    .calendar
      width: 750px
      height: max-content

      .top
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 1rem

        .heading
          display: flex
          align-items: center

          .controls
            display: flex
            gap: .5rem
            margin-right: 1rem

            .control
              width: 2rem
              height: 2rem
              display: flex
              justify-content: center
              align-items: center
              cursor: pointer
              border: none
              background: transparent

              svg
                width: 1.5rem
                height: 1.5rem
                stroke: #3a3a3a

          .date
            font-size: 1.5rem
            font-weight: 600
            color: #3a3a3a
            cursor: default

        .todayButton
          button
            border: 2px solid $accentColor
            border-radius: 9999px
            padding: .25rem .5rem
            font-size: 1rem
            font-weight: 500
            cursor: pointer
            color: $accentColor
            background-color: transparent
            transition: .15s ease-out
            transition-property: color, background-color

            &:hover
              color: #fff
              background-color: $accentColor

      .calendarTable
        width: 100%
        height: 500px
        border-radius: 1rem
        background-color: #fff
        overflow: hidden

        .header
          background-color: #e8f0ff

          ul
            list-style-type: none
            display: grid
            grid-template-columns: repeat(7, 100px)
            padding-left: 50px

            li
              display: flex
              flex-direction: column
              justify-content: center
              align-items: center
              padding: 1rem 0
              height: 80px
              color: #626b83
              cursor: pointer

              &:not(:last-child)
                border-right: 1px solid rgba(147, 147, 147, 0.15)

              &.activeDay
                color: $accentColor
                cursor: default

              span
                font-size: .8rem
                font-weight: 500
                line-height: 1

              h3
                font-size: 1.5rem
                font-weight: 600
                margin-top: .25rem

        .rows
          height: calc(100% - 80px)
          overflow: auto

          &::-webkit-scrollbar
            width: 0
            height: 0

          ul
            padding-left: 50px
            width: 100%
            list-style-type: none
            display: grid
            grid-template-columns: repeat(7, 100px)

            li
              height: 60px
              border-top: 1px solid rgba(147, 147, 147, 0.2)
              border-right: 1px solid rgba(147, 147, 147, 0.2)
              position: relative

              &:nth-child(-n+7)
                border-top: none

              &:nth-child(7n)
                border-right: none

              &:nth-child(7n+1):not(:first-child)::before
                content: var(--time)
                font-size: .7rem
                font-weight: 500
                position: absolute
                left: -25px
                top: -.5rem
                transform: translateX(-50%)
                color: #838383
